/* GLOBALES */
/*nomarlize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Globales*/
body {
  font-family: 'Noto Sans JP', sans-serif !important;
  /*Puesto para Bootstrap*/
  font-size: 62.5%; }

main h1 {
  color: var(--old-lace); }

main h2 {
  color: var(--old-lace); }

a {
  text-decoration: none;
  color: var(--old-lace);
  font-size: 1.2rem; }

a:hover {
  border: solid 0.1rem;
  color: var(--old-lace); }

ul {
  list-style-type: none; }

/*Variables aca poner paleta de colores*/
:root {
  --rich-black-fogra-39: #05080bff;
  --gunmetal: #052430ff;
  --maximum-red: #dd1c1aff;
  --old-lace: #fffaebff;
  --jonquil: #f0c808ff; }

.flex-row {
  display: flex; }

.flex-col {
  display: flex;
  flex-direction: column; }

.containerUno {
  display: grid; }

/*VARIABLES PARA DESAFIO*/
/*ejercicio maps*/
.main-nosotros {
  background-color: #f0c808ff; }

.main-zapatillas {
  background-color: #f0c808ff; }

.main-ofertas {
  background-color: #f0c808ff; }

.main-menu {
  background-color: #052430ff; }

/* PARTIALS */
/*HEADER MENU Y CONTENIDO*/
header {
  height: 15vh;
  background-color: var(--gunmetal);
  align-items: center; }
  header .containerLogo {
    width: 50%; }
    header .containerLogo__logo {
      margin-left: 2rem;
      width: 5rem;
      height: 5rem; }
  header .containerNav {
    width: 50%; }
    header .containerNav .containerNav__navegacion {
      font-size: 1.5rem;
      justify-content: flex-end;
      gap: 2rem; }
      header .containerNav .containerNav__navegacion li a {
        padding: 1rem 1.5rem; }

@media screen and (max-width: 420px) {
  .flex-row {
    flex-direction: column !important; }
  header {
    flex-direction: column !important;
    height: auto; }
    header .containerLogo {
      width: auto; }
      header .containerLogo .containerLogo__logo {
        width: 4rem;
        height: 4rem; }
    header .containerNav .containerNav__navegacion {
      flex-direction: column !important;
      align-items: center; }
    header .containerNav .containerNav__navegacion {
      font-size: 1rem;
      gap: 0.5rem; } }

@media screen and (min-width: 421px) and (max-width: 720px) {
  .flex-row {
    flex-direction: column !important; }
  header {
    flex-direction: column !important;
    height: auto; }
    header .containerLogo {
      width: auto; }
      header .containerLogo .containerLogo__logo {
        width: 4rem;
        height: 4rem; }
    header .containerNav .containerNav__navegacion {
      flex-direction: column !important;
      align-items: center; }
    header .containerNav .containerNav__navegacion {
      font-size: 1rem;
      gap: 0.5rem; } }

@media screen and (min-width: 721px) and (max-width: 1023px) {
  header .containerNav__navegacion {
    font-size: 1.5rem;
    gap: 0.5rem; } }

/*FOOTER MENU Y CONTENIDO*/
footer {
  height: 15vh;
  background-color: var(--gunmetal);
  align-items: center; }
  footer .containerNav {
    width: 100%; }
    footer .containerNav .containerNav__navegacion {
      font-size: 1.5rem;
      gap: 2rem;
      justify-content: center; }
      footer .containerNav .containerNav__navegacion li a {
        padding: 1rem 1.5rem; }

@media screen and (max-width: 420px) {
  .flex-row {
    flex-direction: column !important; }
  footer {
    flex-direction: column !important;
    height: auto; }
    footer .containerNav .containerNav__navegacion {
      font-size: 1rem;
      gap: 0.5rem;
      flex-direction: column !important;
      justify-content: space-around;
      align-items: center; } }

@media screen and (min-width: 421px) and (max-width: 720px) {
  .flex-row {
    flex-direction: column !important; }
  footer {
    flex-direction: column !important;
    height: auto; }
    footer .containerNav .containerNav__navegacion {
      font-size: 1rem;
      gap: 0.5rem;
      flex-direction: column !important;
      justify-content: space-around;
      align-items: center; } }

@media screen and (min-width: 721px) and (max-width: 1023px) {
  footer .containerNav__navegacion {
    font-size: 1.5rem;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center; } }

/* PAGINAS */
/* https://www.colorzilla.com/gradient-editor/ */
/* W3school usar */
/* resetear css IMPORTANTE */
/* https://sass-lang.com/guide */
/*BODY INDEX*/
#body-index {
  background-color: var(--jonquil); }

/*HEADER INDEX*/
#header-index {
  height: 10vh;
  background-color: var(--jonquil); }

/*MAIN INDEX*/
#main-index {
  background-image: radial-gradient(ellipse at center, #ffffff 0%, #fcff7c 32%, #fcff59 50%, #f0ca0f 65%, #f0c808ff 100%); }
  #main-index .containerImage {
    width: 100%; }
    #main-index .containerImage .containerImage__center {
      justify-content: center; }
      #main-index .containerImage .containerImage__center #logoIndex {
        margin-top: 100px;
        margin-bottom: 100px;
        width: 300px;
        height: 300px;
        transition: height 1s, width 1s; }
      #main-index .containerImage .containerImage__center #logoIndex:hover {
        height: 450px;
        width: 450px;
        /*transform: rotate(90deg);*/ }

/*FOOTER INDEX*/
.footer-index {
  height: 25vh; }

/*Los !important fueron puestos para Bootstrap*/
.habilitada {
  color: var(--old-lace) !important; }

/*MAIN MENU*/
.main-menu {
  margin: 0 auto;
  width: 1024px;
  gap: 2rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 181px); }

.titulo h1 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--old-lace); }

.titulo {
  grid-column: 4 / 10;
  grid-row: 1; }

.imageOne {
  grid-column: 1 / 13;
  grid-row: 2 / 4; }

.jordanVerde {
  width: 1024px;
  height: 394px;
  border: solid 1px black; }

.imageTwo {
  grid-column: 1 / 7;
  grid-row: 4 / 6; }

.falconNegra {
  width: 496px;
  height: 394px;
  border: solid 1px black; }

.imageThree {
  grid-column: 7 / 13;
  grid-row: 4 / 9; }

.jordanNegra {
  width: 496px;
  height: 1033px;
  border: solid 1px black; }

.imageFour {
  grid-column: 1 / 7;
  grid-row: 6 / 10; }

.jordanRoja {
  width: 496px;
  height: 820px;
  border: solid 1px black; }

.imageFive {
  grid-column: 1 / 7;
  grid-row: 10 / 13; }

.shadowPastel {
  width: 496px;
  height: 607px;
  border: solid 1px black; }

.video {
  grid-column: 7 / 13;
  grid-row: 9 / 13; }

.videoCools {
  width: 496px;
  height: 820px; }

/*RESPONSIVE MENU*/
@media screen and (max-width: 420px) {
  .main-menu {
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 98px); }
  .titulo h1 {
    font-size: 1.2rem; }
  .titulo {
    grid-column: 2 / 6;
    grid-row: 1; }
  .imageOne {
    grid-column: 1 / 7;
    grid-row: 2 / 4; }
  .jordanVerde {
    width: auto;
    height: 212px; }
  .imageTwo {
    grid-column: 1 / 7;
    grid-row: 4 / 6; }
  .falconNegra {
    width: auto;
    height: 212px; }
  .video {
    grid-column: 1 / 7;
    grid-row: 6 / 9; }
  .videoCools {
    width: auto;
    height: 326px; }
  .imageFour {
    grid-column: 1 / 7;
    grid-row: 9 / 11; }
  .jordanRoja {
    width: auto;
    height: 212px; }
  .imageFive {
    grid-column: 1 / 4;
    grid-row: 11 / 13; }
  .shadowPastel {
    width: auto;
    height: 212px; }
  .imageThree {
    grid-column: 4 / 7;
    grid-row: 11 / 13; }
  .jordanNegra {
    width: auto;
    height: 212px; } }

@media screen and (min-width: 421px) and (max-width: 720px) {
  .main-menu {
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 98px); }
  .titulo h1 {
    font-size: 1.2rem; }
  .titulo {
    grid-column: 2 / 6;
    grid-row: 1; }
  .imageOne {
    grid-column: 1 / 7;
    grid-row: 2 / 4; }
  .jordanVerde {
    width: auto;
    height: 212px; }
  .imageTwo {
    grid-column: 1 / 7;
    grid-row: 4 / 6; }
  .falconNegra {
    width: auto;
    height: 212px; }
  .video {
    grid-column: 1 / 7;
    grid-row: 6 / 9; }
  .videoCools {
    width: auto;
    height: 326px; }
  .imageFour {
    grid-column: 1 / 7;
    grid-row: 9 / 11; }
  .jordanRoja {
    width: auto;
    height: 212px; }
  .imageFive {
    grid-column: 1 / 4;
    grid-row: 11 / 13; }
  .shadowPastel {
    width: auto;
    height: 212px; }
  .imageThree {
    grid-column: 4 / 7;
    grid-row: 11 / 13; }
  .jordanNegra {
    width: auto;
    height: 212px; } }

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .main-menu {
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 110px); }
  .titulo h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--old-lace); }
  .titulo {
    background-color: var(--rich-black-fogra-39);
    grid-column: 4 / 10;
    grid-row: 1; }
  .imageOne {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 13;
    grid-row: 2 / 4; }
  .jordanVerde {
    width: auto;
    height: 236px; }
  .imageTwo {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 4 / 6; }
  .falconNegra {
    width: auto;
    height: 236px; }
  .imageThree {
    background-color: var(--maximum-red);
    grid-column: 7 / 13;
    grid-row: 4 / 9; }
  .jordanNegra {
    width: auto;
    height: 614px; }
  .imageFour {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 6 / 10; }
  .jordanRoja {
    width: auto;
    height: 488px; }
  .imageFive {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 10 / 13; }
  .shadowPastel {
    width: auto;
    height: 362px; }
  .video {
    background-color: var(--maximum-red);
    grid-column: 7 / 13;
    grid-row: 9 / 13; }
  .videoCools {
    width: auto;
    height: 488px; } }

/*MAIN ZAPATILLAS*/
.main-zapatillas {
  height: 70vh; }
  .main-zapatillas .containerTable {
    caption-side: top !important;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse; }
    .main-zapatillas .containerTable .containerTable__caption {
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__thead .containerTable__thead__tr th {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__thead .containerTable__thead__tr td {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__tbody .containerTable__tbody__tr th {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__tbody .containerTable__tbody__tr td {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }

/*MAIN NOSOTROS*/
.main-nosotros {
  height: 70vh; }
  .main-nosotros .containerText .containerText__parrafo {
    font-size: 25px;
    background-color: var(--gunmetal);
    color: var(--old-lace);
    text-align: center;
    width: 50%;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    /*el body no tiene un alto definido, auto solo sirve para elemnto en bloque*/
    /* border: solid black; */
    /*definirlo sirve para saber el fin */ }
  .main-nosotros .containerText .containerText__parrafoSiguientes {
    font-size: 25px;
    background-color: var(--gunmetal);
    color: var(--old-lace);
    text-align: center;
    width: 90%;
    height: 90px;
    justify-content: center;
    margin: 0 auto; }

/*MAIN OFERTAS*/
/*.mainOfertas {
    background-color: var(--jonquil);
}*/
.main-ofertas h5, p {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gunmetal); }
