/* GLOBALES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'IBM Plex Sans Devanagari', sans-serif !important; }

body {
  background-color: --culture !important; }

a {
  text-decoration: none !important;
  color: #161a1dff !important; }

ul, li {
  list-style: none;
  list-style-type: none !important; }

/*Paleta de colores*/
:root {
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --silver-chalice: #b1a7a6ff;
  --light-gray: rgb(139, 131, 130);
  --cultured: #f5f3f4ff;
  --white: #ffffffff; }

/*
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.containerUno {
    display: grid;
}

*/
/* PARTIALS */
/*HEADER MENU Y CONTENIDO*/
.menu {
  font-family: 'Indie Flower', cursive;
  background-color: #b1a7a6ff;
  height: 75px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f5f3f4ff;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); }
  .menu .logo {
    color: #0b090aff;
    font-size: 45px;
    padding: 0 80px;
    text-transform: uppercase;
    font-weight: 600; }
  .menu .menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px; }
    .menu .menu_items li {
      border-radius: 5px;
      margin: 0 5px; }
      .menu .menu_items li .btn {
        font-size: 18px;
        background-color: #b1a7a6ff;
        text-decoration: none;
        border: none;
        box-shadow: 5px 5px 5px 5px #66605f; }
      .menu .menu_items li a {
        font-size: 18px;
        font-weight: 400;
        padding: 4px 12px;
        text-decoration: none;
        display: block; }
  .menu .menu_items li:hover {
    background-color: #8b8382;
    transition: .6s; }

.menu .menu_items #formulario {
  font-size: 15px; }

.btn_menu {
  margin-right: 5px;
  color: #161a1dff;
  cursor: pointer;
  display: none;
  font-size: 18px; }

ul.show {
  top: 65px; }

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px; } }

@media screen and (max-width: 858px) {
  .menu {
    height: 65px; }
  .btn_menu {
    display: inline-flex;
    position: relative; }
  .menu_items {
    position: absolute;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: #b1a7a6ff;
    top: -100vh;
    text-align: center;
    transition: all .5s;
    flex-direction: column; }
  .menu_items li {
    margin: 30px 0 0 0;
    line-height: 30px; }
  .menu_items li:hover {
    background: none; }
  .menu_items li a {
    font-size: 17px;
    padding: 2px 8px; }
  .menu_items li a:hover {
    color: #8b8382; }
  .menu_items li .btn {
    margin-right: 10px; }
  .btn_menu {
    font-size: 13px; }
  .logo {
    font-size: 25px;
    padding-left: 35px; } }

@media screen and (max-width: 858px) and (orientacion: landscape) {
  .menu_items li {
    margin: 5px 0 0 0; }
  .menu_items {
    overflow: scroll; } }

/*FOOTER MENU Y CONTENIDO*/
footer {
  height: 20vh;
  width: 100%;
  display: flex;
  background-color: #b1a7a6ff;
  border-top: 2px solid #f5f3f4ff; }
  footer nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    footer nav div {
      flex-direction: column;
      align-content: center; }
      footer nav div li {
        padding: 1px 0 1px 0; }

@media screen and (max-width: 500px) {
  footer {
    height: 100%; }
    footer nav {
      display: flex;
      flex-direction: column; }
      footer nav div {
        align-content: center; } }

/*
footer {
    height: 15vh;
    background-color: var(--gunmetal);
    align-items: center;
    
    .containerNav {
        width: 100%;
        
        .containerNav__navegacion {
            font-size: 1.5rem;
            gap: 2rem;
            justify-content: center;

            li {
                a {
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .flex-row {
        flex-direction: column !important;
    }

    footer {        
        flex-direction: column !important;
        height: auto;
        
        .containerNav {
            .containerNav__navegacion {
                font-size: 1rem;
                gap: 0.5rem;
                flex-direction: column !important;
                justify-content: space-around;
                align-items: center;
            }
        }     
    }
}

@media screen and (min-width: 421px) and (max-width: 720px) {
    .flex-row {
        flex-direction: column !important;
    }

    footer {        
        flex-direction: column !important;
        height: auto;
        
        .containerNav {
            .containerNav__navegacion {
                font-size: 1rem;
                gap: 0.5rem;
                flex-direction: column !important;
                justify-content: space-around;
                align-items: center;
            }
        }     
    }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {

    footer {
        .containerNav__navegacion {
            font-size: 1.5rem;
            gap: 0.5rem;
            justify-content: space-around;
            align-items: center;
        }
    }
}
*/
/* PAGINAS */
/* https://www.colorzilla.com/gradient-editor/ */
/* W3school usar */
/* resetear css IMPORTANTE */
/* https://sass-lang.com/guide */
/*HEADER INDEX*/
header {
  justify-content: center; }
  header h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffffff;
    font-family: 'IBM Plex Sans Devanagari', sans-serif; }
    header h1 span i .far {
      font-size: 15px;
      color: #ffffffff; }

/*MAIN INDEX*/
#main-index .containerImage {
  width: 100%; }
  #main-index .containerImage .containerImage__center {
    justify-content: center; }
    #main-index .containerImage .containerImage__center #logoIndex {
      margin-top: 100px;
      margin-bottom: 100px;
      width: 300px;
      height: 300px;
      transition: height 1s, width 1s; }
    #main-index .containerImage .containerImage__center #logoIndex:hover {
      height: 450px;
      width: 450px; }

/*MAIN MENU*/
/*MAIN ZAPATILLAS*/
.main-zapatillas {
  height: 70vh; }
  .main-zapatillas .containerTable {
    caption-side: top !important;
    margin: 0 auto;
    border: 2px solid black;
    border-collapse: collapse; }
    .main-zapatillas .containerTable .containerTable__caption {
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__thead .containerTable__thead__tr th {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__thead .containerTable__thead__tr td {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__tbody .containerTable__tbody__tr th {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }
    .main-zapatillas .containerTable .containerTable__tbody .containerTable__tbody__tr td {
      border: 2px solid black;
      border-collapse: collapse;
      text-align: center !important; }

/*MAIN NOSOTROS*/
.main-nosotros {
  height: 70vh; }
  .main-nosotros .containerText h1 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px; }
  .main-nosotros .containerText h2 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px; }
  .main-nosotros .containerText p {
    color: var(--old-lace);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px; }

@media screen and (max-width: 420px) {
  .main-nosotros {
    position: relative; }
    .main-nosotros .containerText {
      display: inline-block;
      position: relative; } }

/*MAIN OFERTAS*/
main h3 {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gunmetal); }

main p {
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--gunmetal); }
