/*MAIN NOSOTROS*/
.main-nosotros {
    height: 70vh;

    .containerText {

       h1 {
           padding-left: 5px;
           padding-right: 5px;
           font-size: 20px;

        }   

        h2 {
            padding-left: 5px;
            padding-right: 5px;
            font-size: 20px;
        }

        p {
        color: var(--old-lace);
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
        }
    }
}

/*SECTION ZAPATILLAS*/
.main-zapatillas{
    height: 70vh;
    
    .containerTable {
        caption-side: top !important;
        margin: 0 auto;
        border: 2px solid black;
        border-collapse: collapse;
        
        .containerTable__caption {
            text-align: center !important;
        }
        .containerTable__thead {
            .containerTable__thead__tr {
                th {
                    border: 2px solid black;
                    border-collapse: collapse;
                    text-align: center !important;
                }
                td {
                    border: 2px solid black;
                    border-collapse: collapse;
                    text-align: center !important;
                }
            }
        }
        .containerTable__tbody {
            .containerTable__tbody__tr {
                th {
                    border: 2px solid black;
                    border-collapse: collapse;
                    text-align: center !important;
                }
                td {
                    border: 2px solid black;
                    border-collapse: collapse;
                    text-align: center !important;
                }
            }
        }
    }
}

 
@media screen and (max-width: 420px) {

    .main-nosotros {
        position: relative;

        .containerText {
            display: inline-block;
            position: relative;
        }
    }
    
    


}

@media screen and (min-width: 421px) and (max-width: 720px) {

}

@media screen and (min-width: 721px) and (max-width: 1023px) {

}