
/*MAIN MENU*/

.main-menu {
    margin: 0 auto;
    width: 1024px;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 181px);
}

.titulo h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--old-lace);
}

.titulo {
    grid-column: 4 / 10;
    grid-row: 1;
}

.imageOne {
    grid-column: 1 / 13;
    grid-row: 2 / 4;
}

.jordanVerde {
    width: 1024px;
    height: 394px;
    border: solid 1px black;
}

.imageTwo {
    grid-column: 1 / 7;
    grid-row: 4 / 6;
}

.falconNegra {
    width: 496px;
    height: 394px;
    border: solid 1px black;
}

.imageThree {
    grid-column: 7 / 13;
    grid-row: 4 / 9;
}

.jordanNegra  {
    width: 496px;
    height: 1033px;
    border: solid 1px black;
}

.imageFour {
    grid-column: 1 / 7;
    grid-row: 6 / 10;
}

.jordanRoja {
    width: 496px;
    height: 820px;
    border: solid 1px black;
}

.imageFive {
    grid-column: 1 / 7;
    grid-row: 10 / 13;
}

.shadowPastel {
    width: 496px;
    height: 607px;
    border: solid 1px black;
}

.video {
    grid-column: 7 / 13;
    grid-row: 9 / 13;
}

.videoCools {
    width: 496px;
    height: 820px;
}

/*RESPONSIVE MENU*/


@media screen and (max-width: 420px) {

    .main-menu {
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 98px);
    }

    .titulo h1 {
        font-size: 1.2rem;
    }    
    .titulo {
        grid-column: 2 / 6;
        grid-row: 1;

    }

    .imageOne {
        grid-column: 1 / 7;
        grid-row: 2 / 4;
    }

    .jordanVerde {
        width: auto;
        height: 212px;
    }

    .imageTwo {
        grid-column: 1 / 7;
        grid-row: 4 / 6;
    }

    .falconNegra {
        width: auto;
        height: 212px;
    }

    .video {
        grid-column: 1 / 7;
        grid-row: 6 / 9;
    }

    .videoCools {
        width: auto;
        height: 326px;
    }

    .imageFour {
        grid-column: 1 / 7;
        grid-row: 9 / 11;
    }

    .jordanRoja {
        width: auto;
        height: 212px;
    }

    .imageFive {
        grid-column: 1 / 4;
        grid-row: 11 / 13;
    }

    .shadowPastel {
        width: auto;
        height: 212px;
    }

    .imageThree {
        grid-column: 4 / 7;
        grid-row: 11 / 13;
    }

    .jordanNegra {
        width: auto;
        height: 212px;    
    }
}

@media screen and (min-width: 421px) and (max-width: 720px) {

    .main-menu {
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(12, 98px);
    }

    .titulo h1 {
        font-size: 1.2rem;
    }    
    .titulo {
        grid-column: 2 / 6;
        grid-row: 1;

    }
    
    .imageOne {
        grid-column: 1 / 7;
        grid-row: 2 / 4;
    }

    .jordanVerde {
        width: auto;
        height: 212px;
    }

    .imageTwo {
        grid-column: 1 / 7;
        grid-row: 4 / 6;
    }

    .falconNegra {
        width: auto;
        height: 212px;
    }
    .video {
        grid-column: 1 / 7;
        grid-row: 6 / 9;
    }

    .videoCools {
        width: auto;
        height: 326px;
    }

    .imageFour {
        grid-column: 1 / 7;
        grid-row: 9 / 11;
    }

    .jordanRoja {
        width: auto;
        height: 212px;
    }

    .imageFive {
        grid-column: 1 / 4;
        grid-row: 11 / 13;
    }

    .shadowPastel {
        width: auto;
        height: 212px;
    }

        .imageThree {
        grid-column: 4 / 7;
        grid-row: 11 / 13;
    }

    .jordanNegra {
        width: auto;
        height: 212px;
    }

}

@media screen and (min-width: 721px) and (max-width: 1023px) {
    
    .main-menu {
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 110px);
    }

   
.titulo h1 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--old-lace);
}

.titulo {
    background-color: var(--rich-black-fogra-39);
    grid-column: 4 / 10;
    grid-row: 1;
}

.imageOne {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 13;
    grid-row: 2 / 4;
}

.jordanVerde {
    width: auto;
    height: 236px;
}
.imageTwo {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 4 / 6;
}

.falconNegra {
    width: auto;
    height: 236px;
}
.imageThree {
    background-color: var(--maximum-red);
    grid-column: 7 / 13;
    grid-row: 4 / 9;
}

.jordanNegra {
    width: auto;
    height: 614px;
}

.imageFour {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 6 / 10;
}

.jordanRoja {
    width: auto;
    height: 488px;
}

.imageFive {
    background-color: var(--rich-black-fogra-39);
    grid-column: 1 / 7;
    grid-row: 10 / 13;
}

.shadowPastel {
    width: auto;
    height: 362px;
}

.video {
    background-color: var(--maximum-red);
    grid-column: 7 / 13;
    grid-row: 9 / 13;
}

.videoCools {
    width: auto;
    height: 488px;
}

}
