/*Paleta de colores*/
:root {
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: rgb(139, 131, 130);
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}

:root {
    /* CSS HEX */
--xiketic: #03071eff;
--dark-sienna: #370617ff;
--rosewood: #6a040fff;
--dark-red: #9d0208ff;
--rosso-corsa: #d00000ff;
--vermilion: #dc2f02ff;
--persimmon: #e85d04ff;
--carrot-orange: #f48c06ff;
--orange-web: #faa307ff;
--selective-yellow: #ffba08ff;
--sheen-green: #70e000ff;
--lime-green: #54c800ff;
}
/*
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.containerUno {
    display: grid;
}

*/