/*Paleta de colores*/
:root {
    --rich-black-fogra-39: #0b090aff;
    --eerie-black: #161a1dff;
    --blood-red: #660708ff;
    --silver-chalice: #b1a7a6ff;
    --light-gray: rgb(139, 131, 130);
    --cultured: #f5f3f4ff;
    --white: #ffffffff;
}
/*
.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.containerUno {
    display: grid;
}

*/